<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>安装完成 - Adalways 试用系统</title>
<link rel="stylesheet" href="./static/install/css/install.css?v=9.0" />
</head>
<body>
<div class="wrap">
  <include file="header" /> 
  <section class="section">
    <div class="">
      <div class="success_tip cc"><a href="{U('Admin/Index/init')}" class="f16 b">安装完成，进入后台管理</a>
        <p>进入后台以后，第一件事是<font color="#FF0000">更新网站缓存</font>，不然有些功能不正常！<p>
        <p>在线手册：<a href="http://www.dealswill.com/" target="_blank">http://www.dealswill.com/</a> <br><a href="{U('Admin/Index/init')}" class="f16 b">后台登录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/" class="f16 b">网站前台</a>
      </div>
      <div class=""> </div>
    </div>
  </section>
</div>
<include file="footer" /> 
</body>
</html>