<ion-view hide-nav-bar="true" view-title="搜索">
  <div class="search_all" style="" style="display:block">
    <!-- <div class="backtrack">
      <a href="#/tab/trial" class="icon ion-ios-arrow-back">返回</a>
    </div> -->
    <div class="search_input">
      <input type="text" ng-model="Keyword" name="Keyword" placeholder="请输入搜索关键词" ng-maxlength="11" ng-minlength="1" required>
    </div>
    <div class="search_btn">
      <button name="user_getsms" ng-disabled="myform.user_phone.$invalid" ng-click="search(Keyword)" class="">搜索</button>
    </div>
  </div>


  <ion-content class="padding_head" style="background-color:#fff;">
    <div class="search_all">
      <div class=" backtrack ">
        <!-- <a href="#/tab/trial " class="icon ion-ios-arrow-back ">返回</a> -->
      </div>
      <div class="search_input ">
        <input type="text " ng-model="Keyword " name="Keyword " placeholder="请输入搜索关键词 " ng-maxlength="11
      " ng-minlength="1 " required>
      </div>
      <div class="search_btn ">
        <button name="user_getsms " ng-disabled="myform.user_phone.$invalid " ng-click="search(Keyword) " class=" ">搜索</button>
      </div>
    </div>
    <div ng-if="quyu==1 ">
      <div ng-if="hot_showloading " style="margin-top:60px; text-align: center ">
        <ion-spinner icon="ios " style="height: 60px; width: 60px;; "></ion-spinner>
      </div>


      <ion-list ng-if="hot_showloading==false ">
        <div class="padding-left padding-right padding-top " style="background-color:white;padding-top:0px !important;padding-bottom: 5px; ">
          <div class="padding-top" style="padding-top:5px !important;font-weight: 400;" ng-if="keyword_hot.length">热门搜索</div>
          <!--<hr style=" height:2px;border:none;border-top:2px dotted #d9d9d9; " />-->
          <div class="so_list ">
            <a ng-click="search(d.name) " ng-repeat="d in keyword_hot ">{{d.name}}</a>
          </div>
          <div class="padding-top" style="padding-top:5px !important;font-weight: 400;" ng-if="data_keyword.length">历史搜索<span
              class="delete" ng-click="dedele()"><img src="../../img/delete.png" width="20px"></span></div>
          <!--<hr style=" height:2px;border:none;border-top:2px dotted #d9d9d9; " />-->
          <div class="so_list">
            <a ng-click="search(d) " ng-repeat="d in data_keyword ">{{d}}</a>
          </div>
        </div>
        <div class="padding-top " style="padding-top:5px"></div>
      </ion-list>
    </div>

    <div ng-if="quyu==2 ">

      <div ng-if="so_showloading " style="margin-top:60px; text-align: center ">
        <ion-spinner icon="ios " style="height: 60px; width: 60px;; "></ion-spinner>
      </div>

      <ion-list ng-if="so_showloading==false ">

        <div class="muyou " ng-if="search_goods.status==0 ">
          <img ng-src="img/muyou.png ">
          <p> <span>亲 </span>没有搜索到关键词对应的商品</p>
          <p> 换个关键词试下</p>
        </div>

        <div ng-repeat="topic in search_goods.lists " class="active " ng-if="search_goods.count> 0">

          <div ng-if="topic.mod == 'trial'">
            <a href="#/tab/trial/{{topic.id}}" class="list_w">
              <!-- <ion-item  > -->

              <div class="img">
                <img ng-if="topic.thumb" ng-src="{{topic.thumb | imgUrl}}" />
                <img ng-if="!topic.thumb" ng-src="img/ionic.png">
              </div>
              <!-- <div style="position:absolute;width:100px;height:100px;z-indent:2;left:2%;">
                <span style="background-color: #FFFFFF;color:red">{{topic.mod_name}}</span>
              </div> -->
              <ul class="flex txt txt_wrap" style="padding-top:6px;">
                <li class="c5 klj">{{ topic.title | limitTo:18 }}</li>
                <li class="hd_{{topic.protype}} c1 txt-flow">价值：<b class="cc">¥ {{topic.goods_price }}
                  </b></li>
                <li class="clear c2 txt-flow">
                  <p class="fl w1_4"><span class="c4 hg ">剩余</span><b> {{topic.number}} 份</b></p>
                  <p class="fl w1_6"><span class="c4 ">关注人数</span><b>{{ topic.hits}}</b>人</p>
                </li>
              </ul>
              <!-- </ion-item> -->
            </a>
          </div>

          <div ng-if="topic.mod == 'rebate'">

            <a href="#/tab/rebate/{{topic.id}}" class="list_w">
              <!-- <ion-item  > -->

              <div class="img">
                <img ng-if="topic.thumb" ng-src="{{topic.thumb | imgUrl}}" />
                <img ng-if="!topic.thumb" ng-src="img/ionic.png">
              </div>
              <!-- <div style="position:absolute;width:100px;height:100px;z-indent:2;left:2%;">
                <span style="background-color: #FFFFFF;color:red">{{topic.mod_name}}</span>
              </div> -->
              <ul class="flex txt txt_wrap">
                <li class="txt-flow" style="font-size:1em;">{{ topic.title }}</li>
                <li class="hd_{{topic.protype}} c1 txt-flow" style="font-size:0.875em;">下单价：<b class="cc">¥ {{topic.goods_price
                    }} </b> 折扣：<span>{{topic.goods_discount}}</span>折</li>
                <li class="clear c2 txt-flow" style="font-size:0.85em;">
                  <p class="fl w1_4">剩余：<b> {{topic.number}} 份</b></p>
                  <p class="fl w1_6">关注人数：<b>{{ topic.hits}}</b>人</p>
                </li>
              </ul>

              <!-- </ion-item> -->
            </a>

          </div>

          <div ng-if="topic.mod == 'commission'">

            <a href="#/tab/commission/{{topic.id}}" class="list_w">
              <!-- <ion-item  > -->

              <div class="img">
                <img ng-if="topic.thumb" ng-src="{{topic.thumb | imgUrl}}" />
                <img ng-if="!topic.thumb" ng-src="img/ionic.png">
              </div>
              <!-- <div style="position:absolute;width:100px;height:100px;z-indent:2;left:2%;">
                <span style="background-color:black ;color:red">{{topic.mod_name}}</span>
              </div> -->
              <ul class="flex txt txt_wrap">
                <li class="txt-flow" style="font-size:1em;">{{ topic.title | limitTo:18 }}</li>
                <li class="hd_{{topic.protype}} c1 txt-flow" style="font-size:0.875em;">下单价：<b class="cc">¥ {{topic.goods_price
                    }} </b></li>
                <li class="clear c2 txt-flow" style="font-size:0.85em;">
                  <p class="fl w1_4">剩余：<b> {{topic.number}} 份</b></p>
                  <p class="fl w1_6">关注人数：<b>{{ topic.hits}}</b>人</p>
                </li>
              </ul>

              <!-- </ion-item> -->
            </a>

          </div>


        </div>

      </ion-list>

    </div>

  </ion-content>
</ion-view>