<ion-view view-title="登录" hide-nav-bar="true">
  <ion-nav-buttons side="right">
    <a class="button button-clear" href="#/tab/user/forget">找回密码</a>
  </ion-nav-buttons>

  <div class="ibody">
    <ion-list class="list ">
      <div style="margin-top:60px;text-align:center">
        <!-- <img ng-src="{{logo}}" /> -->
        <p class="h-title">欢迎使用魔力试用</p>
      </div>
      <form name="myform" novalidate="false">
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd">
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" ng-pattern="/^(([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+)$/" placeholder="您的手机号或者邮箱"
                ng-model="user.name" required>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="password" minlength="6" maxlength="20" placeholder="请输入您的密码" ng-model="user.password" required>
            </div>
          </div>
        </div>
        <div class="padding-top" style="padding: 30px 15px 10px; box-sizing: border-box;">
          <a href="javascript:;" ng-disabled="myform.$invalid" class="weui-btn" ng-click="login()">登录</a>
        </div>
        <div>
          <a href="#/tab/user/forget " style="padding: 10px 30px;text-align:right;color:#5091ff;float: right;margin-top:10px;">找回密码</a>
        </div>
        <div class="register_forget">
          <a href="#/tab/register">新用户注册</a>
          <a href="#/tab/home">返回首页</a>
        </div>
      </form>
    </ion-list>
    <br/>
    <!-- <div  style="height:150px ">
  <div class="i_login ">
    <div class="s_part1 ">
      <div class="co ">第三方登录</div>
    </div>
    <div class="s_part2 ">
      <a href="http://shi. .cn/index.php?m=Oauth&c=Index&a=login " class="p " target="_bank ">
        <div class="a1 ">
          <img src="img/qq.png "  width="30 "></div>
        <div class="a2 ">QQ</div>
      </a>
      <div class="clearfix "></div>
    </div>
  </div>
</div> -->
  </div>
</ion-view>