<ion-view hide-nav-bar="true" view-title="个人中心">
  <div class="bar bar-header bar-stable">
    <h1 class="title">个人中心</h1>
    <!-- <a class="button icon ion-ios-gear-outline button-clear" ng-click="user_profile()" style="top:2px;"></a> -->
  </div>
  <ion-content class="padding_head tt">
    <div ng-if="user_showloading" style="margin-top:60px; text-align: center">
      <ion-spinner icon="ios" style="height: 60px; width: 60px;;"></ion-spinner>
    </div>

    <ion-list class="list tt" ng-if="user_showloading ==false">
      <div class="ibody" ng-show='logo_status == 0'>
        <div class="user-signOn_header">
          <!-- <a href="#/tab/user/login">
            <img src="img/a31.jpg" style="width:100%">
          </a> -->
          <div class="signOn_logo">
            <img src="img/a5.jpg" alt="">
          </div>
          <div class="signIn_btn">
            <a href="#/tab/user/login">登录/注册</a>
          </div>
          <!-- <p>登录后可享受更多特权</p> -->
        </div>
      </div>

      <div class="ibody" ng-show='logo_status == 1'>
        <!-- <div class="i_userCenter2">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="L" ng-click="user_nickname()">
                <div class="a1">
                  <div class="co">
                    <img ng-src="{{userInfo.avatar | imgUrl   }}">
                  </div>
                </div>
                <div class="a2" ng-show="userInfo.nickname !='' ">{{userInfo.nickname}}</div>
                <div class="a2" ng-show="userInfo.nickname =='' ">修改头像昵称</div>
              </td>
              <td class="R">
                <div class="hang1">账户余额:${{userInfo.money}}</div>
                <div class="hang2">我的积分:{{userInfo.point}}</div>
                <div class="hang3">
                  <a ng-click="user_qiandao()">每日签到</a>
                  <a href="#/tab/jiang">天天大转盘</a>
                </div>
              </td>
            </tr>
          </table>
          <div class="clearfix"></div>
        </div> -->
        <!--i_userCenter2-->
        <div class="user-signIn_header">
          <div class="user-signIn_logoNcikname" ng-click="user_nickname()">
            <div class="signIn-img">
              <img ng-src="{{userInfo.avatar | imgUrl   }}" alt="">
            </div>
            <div class="a2" ng-show="userInfo.nickname !='' " style="color: #666;">{{userInfo.nickname}}</div>
            <div class="a2" ng-show="userInfo.nickname =='' " style="color: #666;">修改头像昵称</div>
          </div>
          <div class="user-signIn_qiandao">
            <a ng-click="user_qiandao()">每日签到</a>
          </div>
        </div>
        <div class="user-signIn_account">
          <div class="user-account_blance" ng-click="getmessage()">
            <span>${{userInfo.money || 0.00}}</span>
            <span>账户余额</span>
          </div>
          <div class="user-account_blance" ng-click="getmessage()">
            <span>{{userInfo.point || 0 }}</span>
            <span>我的积分</span>
          </div>
        </div>
      </div>
      <div style="height: 10px;"></div>
      <item class="item item-icon-left item-icon-right " ng-click="user_order_trial()" style="color:#fd3636; padding-left: 45px;">
        <i class="icon iconfont icon-gouwuche" style="font-size: 22px;"></i>
        <h3>我的试用</h3>
        <i class="icon iconfont icon-you-copy" style="font-size:18px;color:#666"></i>
      </item>
      <!--  <item class="item item-icon-left item-icon-right " ng-click= "user_order_commission()" style="font-size:18px;color:#00c67e"> <i class="icon ion-ios-bolt"></i>
                <h3>我的闪电试用</h3> <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </item>-->
      <!-- <item class="item item-icon-left item-icon-right"  ng-click= "user_order_rebate()"   style="font-size:18px;color:#2cb4ff">
                <i class="icon ion-cash"></i>
                <h3>我的返利</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </item>
            <item  ng-click= "user_order_task()" class="item item-icon-left item-icon-right " style="font-size:18px;color:#ff2d65">
                <i class="icon ion-ios-bookmarks"></i>
                <h3>我的日赚任务</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666" ></i>
            </item>
            <item ng-click= "user_order_jifen()" class="item item-icon-left item-icon-right " style="font-size:18px;color:#56b1ea">
                <i class="icon ion-ios-bookmarks"></i>
                <h3>我的兑换</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666" ></i>
            </item>-->
      <!-- <item class="item item-icon-left item-icon-right " style="color:#fd3636; padding-left: 45px;" ng-click="user_deposite()">
        <i class="icon ion-social-usd" style="font-size: 22px"></i>
        <h3>余额提现</h3>
        <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
      </item> -->
      <!--     <ion-item href="#/tab/jifenduihuan"   class="item item-icon-left item-icon-right " style="font-size:18px;color:#2cb4ff">
                <i class="icon ion-ios-infinite"></i>
                <h3>积分兑换</h3>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item>-->
      <!-- <item class="item item-icon-left item-icon-right " style="color:#fea16e; padding-left: 45px;" ng-click="getmessage()">
        <i class="icon ion-android-more-vertical" style="font-size: 22px"></i>
        <h3>账户明细</h3>
        <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
      </item> -->
      <item ng-click="announce()" class="item item-icon-left item-icon-right" style="color:#73bbee; padding-left: 45px;">
        <i class="icon iconfont icon-xiaoxi" style="font-size: 20px"></i>
        <h3>我的消息</h3>
        <!-- <i class="badge light" style="color:#e42012">10</i> -->
        <i class="icon iconfont icon-you-copy" style="font-size:18px;color:#666"></i>
      </item>
      <item ng-click="user_profile()" class="item item-icon-left item-icon-right" style="color:#5091ff; padding-left: 45px;">
        <i class="icon iconfont icon-shezhi-tianchong" style="font-size: 20px"></i>
        <h3>设置</h3>
        <!-- <i class="badge light" style="color:#e42012">10</i> -->
        <i class="icon iconfont icon-you-copy" style="font-size:18px;color:#666"></i>
      </item>
      <item ng-click="user_more()" class="item item-icon-left item-icon-right" style="color:#18181a; padding-left: 45px;">
        <i class="icon iconfont icon-gengduomore12" style="font-size: 20px"></i>
        <h3>更多</h3>
        <!-- <i class="badge light" style="color:#e42012">10</i> -->
        <i class="icon iconfont icon-you-copy" style="font-size:18px;color:#666"></i>
      </item>
      <div style="height:10px;"></div>
    </ion-list>

  </ion-content>
</ion-view>