<ion-view view-title="实名认证">
  <ion-content class="padding-top" style="background-color:#F8F8F8">
    <ion-list>
      <ion-item class="item item-icon-left item-icon-right ">
        <!-- <i style="font-size:18px;color:#73bbee" class="icon ion-iphone"></i> -->
        实名认证状态: <i class="item-note"> ({{name_status | f_name_status}})</i>
      </ion-item>
      <ion-item class="item item-divider" ng-if="user_emall && user_emall_state == 1 ">
        <h2>修改认证</h2>
      </ion-item>

      <form name="myform" novalidate="false">
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i style="font-size:18px;color:#aaaaea" class="iconfont icon-xingming placeholder-icon"></i>
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" ng-pattern="/^\s*[\u4e00-\u9fa5]{1,}[\u4e00-\u9fa5.·]{0,15}[\u4e00-\u9fa5]{1,}\s*$/"
                ng-model="user_Full_name" name="user_Full_name" placeholder="请输入您的真实姓名" required>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i style="font-size:18px;color:#aaaaea" class="iconfont icon-credentials_icon placeholder-icon"></i>
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" ng-model-options=" {debounce:1000}" type="text" ng-pattern="/(^\d{15}$)|(^\d{9}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/"
                ng-model="user_ID_number" name="user_ID_number" placeholder="请输入您的证件号码" required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="weui-cells weui-cells_form profile-card">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <div class="weui-uploader">
                  <div class="weui-uploader__bd">
                    <li class="weui-uploader__file" style="background-image:url({{face_img}})"></li>
                    <div class="weui-uploader__input-box">
                      <input id="File1" class="weui-uploader__input" type="file" ng-model="face_img" file-model="myFile" data-id="1" ng-file-select="onFileSelect($files)"
                        accept="image/*" multiple ng-click="faceImg()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <div class="weui-uploader">
                  <div class="weui-uploader__bd">
                    <li class="weui-uploader__file" style="background-image:url({{back_img}})"></li>
                    <div class="weui-uploader__input-box">
                      <input id="File2" class="weui-uploader__input" type="file" ng-model="back_img" file-model="myFile" data-id="2" ng-file-select="onFileSelect($files)"
                        accept="image/*" multiple ng-click="backImg()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <div class="weui-uploader">
                  <div class="weui-uploader__bd">
                    <li class="weui-uploader__file" style="background-image:url({{person_img}})"></li>
                    <div class="weui-uploader__input-box">
                      <input id="File3" class="weui-uploader__input" type="file" ng-model="person_img" file-model="myFile" data-id="3" ng-file-select="onFileSelect($files)"
                        accept="image/*" multiple ng-click="personImg()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <!-- <div class="col"><img ng-model="face_img" ng-click="imgurl(1)" height="100%" width="100%" src="{{face_img}}" /></div>
          <div class="col"><img ng-model="back_img" ng-click="imgurl(2)" height="100%" width="100%" src="{{back_img}}" /></div>
          <div class="col"><img ng-model="person_img" ng-click="imgurl(3)" height="100%" width="100%" src="{{person_img}}"
            /></div> -->
        </div>
        <!--  <p style="color:#A9A9A9" class="padding-left">1.（选传）上传身份证可加速审核，提高资金安全。</p>
        <p style="color:#A9A9A9" class="padding-left">2. 身份证要求与必须与本人一致。</p> -->
        <div style="padding:20px 10px;">
          <a href="javascript:;" class="weui-btn" ng-disabled="myform.$invalid " ng-click="edit_identity(user_Full_name,user_ID_number,face_img,back_img,person_img,Gender,Year_birth,Birth_month,Date_birth,age)">提交</a>
        </div>

      </form>

    </ion-list>

  </ion-content>
</ion-view>