<ion-view view-title="修改密码">
  <ion-content class="padding-top" style="background-color:#F8F8F8">
    <ion-list>

      <form name="myform">

        <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i style="font-size:18px;color:#aaaaea" class="iconfont icon-mima placeholder-icon"></i>
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" minlength="6" maxlength="20" name="oldpass" type="password" placeholder="请输入旧密码"
                ng-model="oldpass" required>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i style="font-size:18px;color:#73bbee" class="iconfont icon-mima placeholder-icon"></i>
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" minlength="6" maxlength="20" name="password" type="password" placeholder="请输入新密码"
                ng-model="password" required>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i style="font-size:18px;color:#73bbee" class="iconfont icon-mima placeholder-icon"></i>
            </div>
            <div class="weui-cell__bd">
              <input repeat="password" minlength="6" maxlength="20" name="repeat_password" type="password" placeholder="请再次输入密码"
                ng-model="repeat_password" required>
            </div>
          </div>
        </div>
        <h5 class="padding-left">温馨提示：</h5>
        <div class="text-explain">
          <p>1.修改成功之后,请用新密码登录。</p>
          <p>2.建议采用字母+数字+特殊字符 组合 增加强度。</p>
        </div>


        <div class="padding-left padding-right">
          <a href="javascript:;" class="weui-btn" ng-disabled="myform.$invalid" ng-click="edit_password(oldpass,password,repeat_password)">提交</a>
        </div>

      </form>

    </ion-list>

  </ion-content>
</ion-view>