<ion-view view-title="重置密码">
  <ion-content class="padding-top" style="background-color:#fff;">
    <ion-list>

      <form name="myform">
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i class="icon ion-unlocked" style="font-size:15px;"></i>
            </div>
            <div class="weui-cell__bd">
              <input class="weui-input" ng-model-options="{ updateOn: 'blur' }" minlength="6" maxlength="20" ng-model-options="{ updateOn: 'blur' }"
                name="password" type="password" placeholder="请输入新密码" ng-model="password" required>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <i class="icon ion-unlocked" style="font-size:15px;"></i>
            </div>
            <div class="weui-cell__bd">
              <input repeat="password" minlength="6" maxlength="20" name="repeat_password" type="password" placeholder="请再次输入密码" ng-model="repeat_password"
                required>
            </div>
          </div>
        </div>
        <div class="text-explain">
          <p>温馨提示：</p>
          <p>1.重置成功之后,请用新密码登录。</p>
          <p>2.请牢记您的密码，避免丢失。</p>
          <p>3.建议采用字母+数字组合 增加强度。</p>
        </div>

        <div class="padding-left padding-right">
          <a href="javascript:;" class="weui-btn" ng-disabled="myform.$invalid" ng-click="set_username_password(password,repeat_password)">下一步</a>
        </div>
      </form>

    </ion-list>

  </ion-content>
</ion-view>