<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-light tabs-color-assertive {{hideTabs}}" nav-transition="ios">

    <!-- Dashboard Tab -->
    <ion-tab title="首页" icon-off="iconfont  icon-home-" icon-on="iconfont  icon-home-" href="#/tab/home" nav-transition="ios">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="试用" badge-style="badge-positive" icon-off="iconfont icon-sy-1" icon-on="iconfont icon-sy-1" href="#/tab/trial">
        <ion-nav-view name="tab-trial"></ion-nav-view>

    </ion-tab>

    <!-- <ion-tab title="搜索" icon-off="iconfont icon-sy--" icon-on="iconfont icon-sy--" href="#/tab/so">
        <ion-nav-view name="tab-so"></ion-nav-view>
    </ion-tab> -->

    <!-- Account Tab -->

    <ion-tab title="进度" icon-off="iconfont icon-jdd-1" icon-on="iconfont icon-jdd-1" href="#/tab/rebate">
        <ion-nav-view name="tab-rebate"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我" icon-off="iconfont icon-gr-" icon-on="iconfont icon-gr-" href="#/tab/user">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>

    <!-- <ion-tab title="更多" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" href="#/tab/duo">
        <ion-nav-view name="tab-duo"></ion-nav-view>
    </ion-tab> -->

</ion-tabs>