<html>

<head>
  <title>试用商城-0元包邮免费试用，每天上新千万件商品。</title>
  <meta charset="utf-8">
  <meta name="google" content="notranslate">
  <meta name="description" content="试用商城-0元包邮免费试用，每天上新千万件商品。">
  <link rel="stylesheet" type="text/css" href="templates/cloud3/product/css/style.css">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
  <script src="templates/cloud3/product/js/jquery.min.js"></script>
  <script>
    $(function () {
      var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        height: 24,//你的slide高度
        speed: 200, //播放速度
        autoplay: true,// 自动播放
        loop: true, //形成一个环路
      })

    })
  </script>
</head>

<body>
  <div id="app">
    <div class="top"><img src="templates/cloud3/product/images/banner.png" alt=""></div>
    <div class="wrap">
      <div class="live">
        <h1>试用直播</h1>
        <div class="swiper-container text">
          <div class="swiper-wrapper" id="j-swiper-wrapper">
          </div>
        </div>
      </div>
      <div class="lists" id="j-lists">
      </div>
      <div class="arrow"><img src="templates/cloud3/product/images/arrow.png" alt=""></div>
      <div class="banner-2"><img src="templates/cloud3/product/images/banner-2.png" alt=""></div>
      <div class="steps">
        <div class="title">0元领取流程</div>
        <div class="step">
          <div class="item"><i class="icon-1"></i>
            <h3>关注公众号</h3>
            <p>微信扫描二维码，关注我们【试用商城】</p>
          </div>
          <div class="item"><i class="icon-2"></i>
            <h3>免费申请试用</h3>
            <p>帮店家收藏宝贝、加购物车等（1分钟搞定）</p>
          </div>
          <div class="item"><i class="icon-3"></i>
            <h3>获取领取资格</h3>
            <p>每天申请10件以上，基本每天都能领到</p>
          </div>
          <div class="item"><i class="icon-4"></i>
            <h3>领取包邮产品</h3>
            <p>到亚马逊下单，收货后评价晒图</p>
          </div>
          <div class="item"><i class="icon-5"></i>
            <h3>平台全额返款</h3>
            <p>完成任务后，平台返款（0手续费）</p>
          </div>
        </div>
      </div>
      <div class="question">
        <h1>常见问题</h1>
        <div class="question-lists">
          <div class="item">
            <div class="title"><i class="wen"></i> 完全免费的吗？</div>
            <div class="content">是的，完全免费、包邮的。领取的产品不用退还。只需要帮商家做些小任务，比如收藏宝贝、加购物车、关注店铺。</div>
          </div>
          <div class="item">
            <div class="title"><i class="wen"></i> 为什么要免费送东西呢？</div>
            <div class="content">产品是由<a href="https://www.amazon.com/" target="_blank">亚马逊</a>提供的。免费试用是互利互惠的。对于店铺也有很大好处，除了可以增加销量、获取优质评价晒图，还可以提升宝贝排名、人气等。相当于前期亏本，后期赚钱。</div>
          </div>
          <div class="item">
            <div class="title"><i class="wen"></i> 只能通过手机端领取吗？</div>
            <div class="content">是的，扫码关注微信商城【试用商城】，即可申请试用！</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="p1">本次活动最终解释权归 浙江国信泰一数据科技有限公司 所有</p>
    </div>
    <div class="fixed">
      <div onclick="javascript:window.open('/index.php?m=Member&c=Index&a=login','_blank')"><i class="icon-fixed fixed-5"></i>
        <p>商家入驻</p>
      </div>
      <div><i class="icon-fixed fixed-1"></i>
        <p>立即领取</p>
        <div class="arrow_box_wrap">
          <div class="arrow_box"><img src="templates/cloud3/product/images/qrcode-mini.png" alt=""></div>
        </div>
      </div>
      <!-- <div><i class="icon-fixed fixed-2"></i>
        <p class="p1">加群咨询</p>
        <p class="p2">点击加群</p>
      </div> -->
      <div><i class="icon-fixed fixed-3"></i>
        <p>为何免费</p>
        <div class="arrow_box_wrap">
          <div class="arrow_box">
            <div class="title"><i class="wen"></i> 为什么要免费送东西呢？</div>
            <div class="content">产品是由亚马逊提供的。免费试用是互利互惠的。对于店铺也有很大好处，除了可以增加销量、获取优质评价晒图，还可以提升宝贝排名、人气等。相当于前期亏本，后期赚钱。
            </div>
          </div>
        </div>
      </div>
      <div><a href="#top"><i class="icon-fixed fixed-4"></i>
          <p>回到顶部</p></a>
      </div>
    </div>
    <!--弹窗-->
    <div class="dialog" style="display: none;">
      <div class="mask"></div>
      <div class="box"><img src="templates/cloud3/product/images/qrcode.png" alt=""> <a href="javascript:;"></a></div>
    </div>
    <!--弹窗-->
  </div>

  <script src="templates/cloud3/product/js/handlebars.min.js"></script>
  <script src="templates/cloud3/product/js/swiper.min.js"></script>
  <script src="templates/cloud3/product/js/mock-massage.js"></script>
  <script id="tryLive" type="text/x-handlebars-template">
    {{#each this}}
      <div class="swiper-slide">
        <p>·&nbsp; <span class="color">{{name}}</span> 免费获得 <span class="color">{{free}}元</span><span>{{title}}</span></p>
      </div>
    {{/each}}
  </script>

  <script id="tryProduct" type="text/x-handlebars-template">
    {{#each this}}
      <div class="item">
        <div class="img"><img src="{{image}}" alt=""></div>
        <div class="title"><i class="free"></i> <span>{{title}}</span></div>
        <div class="info"><s class="price">￥{{price}}</s>
          <div class="number">{{person}}人已关注</div>
        </div>
        <a href="javascript:;" class="btn">0元领取</a>
        <!---->
      </div>
    {{/each}}
  </script>

  <script>
    var tpl = Handlebars.compile($("#tryLive").html());
    $('#j-swiper-wrapper').html(tpl(tryLive));

    var tpl2 = Handlebars.compile($("#tryProduct").html());
    $("#j-lists").html(tpl2(tryGoods))

    var oBtn = $('.btn')
    oBtn.each(function (i) {
      $(this).click(function () {
        $(".dialog").show(100)
      })
    })
    $('.dialog').click(function () {
      $(this).hide(100)
    })
  </script>

</body>

</html>