<ion-view hide-nav-bar="true" hide-tabs view-title="关于我们">
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/duo" class="button icon ion-ios-arrow-back button-clear head_button1">返回</a>
    <h1 class="title">关于我们</h1>
  </div>
  <ion-content class="padding_head" style="background-color:#fff;">
    <div class="ibody">
      <div class="i_aboutUs">
        <div class="s_part1" style="margin:20px auto;text-align:center;">
          <img src="img/logo1.png" style="width:100px"></div>
        <div class="s_part2 c4" style="padding:0 30px;box-sizing:border-box;">
          我们是一家专注于试用服务，集合用户营销、活动营销、口碑营销、商品营销为一体的营销导购平台。秉承"打造最佳的产品试用平台"的理念，为广大的用户提供最高性价比的试用商品，以评价换取免费商品。 平台聚集了大量的亚马逊优质用户，通过免费试用活动帮助商家打开知名度，为商品打开销路，同时为商家挖掘潜在消费者，为数百万商家提升了品牌价值与影响力。搭建了卖家与消费者之间相互了解的桥梁，让消费者在低成本试用的情况下，体验商品的质量和服务，并公正客观的提交商品体验报告。同时鼓励消费者更加客观和细致的评价，通过试用过程的展示，体验报告的传播，为卖家提供更优质的营销传播。
        </div>
        <!-- <div class="s_part3">
          <div class="ti">
            <div class="tico">
              <div class="a1">免费试用</div>
              <div class="a2">A free trial</div>
            </div>
          </div>
   
          <div class="co c4">
            平台聚集了大量的亚马逊优质用户，通过免费试用活动帮助商家打开知名度，为商品打开销路，同时为商家挖掘潜在消费者，为数百万商家提升了品牌价值与影响力。搭建了卖家与消费者之间相互了解的桥梁，让消费者在低成本试用的情况下，体验商品的质量和服务，并公正客观的提交商品体验报告。同时鼓励消费者更加客观和细致的评价，通过试用过程的展示，体验报告的传播，为卖家提供更优质的营销传播。
          </div>
          <div class="co2">
            <div class="p">
              <div class="a1">
                <img src="img/a39.jpg"></div>
              <div class="a2">
                <span>10000+</span>
                商品试用
              </div>
            </div>
            <div class="p">
              <div class="a1">
                <img src="img/a40.jpg"></div>
              <div class="a2">商家获得良好的口碑</div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div> -->
        <!--s_part3-->
        <div class="s_part4">
          <!-- <div class="ti">
            <div class="tico">
              <div class="a1">限时抢购</div>
              <div class="a2">Flash sale</div>
            </div>
          </div> -->
          <!--ti-->
          <!-- <div class="co c4">每天早上10：00准时上新，每个试用商品的申请时间3-5天，抢到就是赚到。</div>
          <div class="co2">
            <img src="img/a41.jpg"></div>
          <div class="co3">早上10:00准时上新</div>
          <div class="co4">
            <a href="#">把app分享给更多的好友吧！一起享受获得免费试用的快乐</a>
          </div> -->
          <div class="co5">
            <img src="img/qrcode.png" style="width:150px;"></div>
        </div>
        <!--s_part4-->
      </div>
      <!--i_aboutUs-->
    </div>
    <!--ibody-->
  </ion-content>
</ion-view>