<ion-view hide-nav-bar="true" hide-tabs view-title="帮助中心">
    <div class="bar bar-header bar-stable ">
        <a href="#/tab/duo" class="button icon ion-ios-arrow-back button-clear head_button1">返回</a>
        <h1 class="title">帮助中心</h1>
    </div>
    <ion-content class="padding_head">
        <ion-list class="list padding-top">
            <ul class="list">
                <ion-item class="item item-icon-left item-icon-right" href="#/tab/trial_help">
                    <!-- <i class="icon ion-android-cart"style="font-size:1.5 em;color:#fd3636" ></i> -->
                    <h3>试用新手指引</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
                <ion-item class="item item-icon-left item-icon-right " href="#/tab/help/so">
                    <!-- <i class="icon ion-ios-bookmarks" style="font-size:1.5 em;color:#ff2d65"></i> -->
                    <h3>搜索下单指引</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
                <ion-item class="item item-icon-left item-icon-right " href="#/tab/help/order_sn">
                    <!-- <i class="icon ion-ios-bookmarks" style="font-size:1.5 em;color:#ff2d65"></i> -->
                    <h3>如何复制订单编号？</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
                <ion-item class="item item-icon-left item-icon-right " href="#/tab/help/apply">
                    <!-- <i class="icon ion-ios-bookmarks" style="font-size:1.5 em;color:#ff2d65"></i> -->
                    <h3>申请之后如何知道结果？</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
                <ion-item class="item item-icon-left item-icon-right " href="#/tab/help/commission">
                    <!-- <i class="icon ion-ios-bolt" style="font-size:1.5 em;color:#00c67e"></i> -->
                    <h3>免费试用活动流程</h3>
                    <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
                </ion-item>
            </ul>

            <!--<ion-item class="item item-icon-left item-icon-right " ng-repeat="d in articlehelplist | orderBy:'catid':true" 
                href="#/article/{{d.catid}}" collection-item-height="100px">
                <h2>{{d.catname}}</h2>
                <i class="icon ion-ios-arrow-right" style="font-size:18px;color:#666"></i>
            </ion-item > -->
        </ion-list>
    </ion-content>
</ion-view>