<ion-view hide-nav-bar="true" hide-tabs view-title="试用新手指引" ">
  <div class="bar bar-header bar-stable ">
    <a href="#/tab/article " class="button icon ion-ios-arrow-back button-clear head_button1 ">返回</a>
    <h1 class="title ">试用新手指引</h1>
  </div>
  <ion-content class="padding_head ">

    <div class="ibody ">
      <div class="i_tryDetail4 ">
        <div class="part ">
          <table width="100% " border="0 " cellpadding="0 " cellspacing="0 ">
            <tr>
              <td width="25 " class="L ">
                <div class="co ">1</div>
              </td>
              <td class="R ">
                <div class="p1 ">打开淘宝</div>
                <div class="p2 ">查看订单号需要打开淘宝，并进入淘宝。</div>
                <div class="p3 ">
                  <img src="img/a17.jpg "></div>
              </td>
            </tr>
          </table>
        </div>
        <!--part-->
        <div class="part ">
          <table width="100% " border="0 " cellpadding="0 " cellspacing="0 ">
            <tr>
              <td width="25 " class="L ">
                <div class="co ">2</div>
              </td>
              <td class="R ">
                <div class="p1 ">找到"我的淘宝 "</div>
                <div class="p2 ">
                  进入淘宝后，在左下角找到" <span>我的淘宝</span>
  "，并点击进去，进入"
  <span>我的淘宝</span>
  "。
  </div>
  <div class="p3">
    <img src="img/a18.jpg"></div>
  </td>
  </tr>
  </table>
  </div>
  <!--part-->
  <div class="part">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="25" class="L">
          <div class="co ">3</div>
        </td>
        <td class="R">
          <div class="p1">点击"我的订单"</div>
          <div class="p2">
            进入"我的淘宝"后，找到"
            <span>我的订单</span>
            "，并点击进去，进入"
            <span>我的订单</span>
            "。
          </div>
          <div class="p3">
            <img src="img/a19.jpg"></div>
        </td>
      </tr>
    </table>
  </div>
  <!--part-->
  <div class="part">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="25" class="L">
          <div class="co ">4</div>
        </td>
        <td class="R">
          <div class="p1">点击试用宝贝的订单</div>
          <div class="p2">
            进入"
            <span>我的订单</span>
            "后，找到试用宝贝的订单，并点击进去，进入
            <span>"订单详情</span>
            "
          </div>
          <div class="p3">
            <img src="img/a20.jpg"></div>
        </td>
      </tr>
    </table>
  </div>
  <!--part-->

  <div class="part">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="25" class="L">
          <div class="co ">5</div>
        </td>
        <td class="R">
          <div class="p1">进入试用宝贝详情页面并复制订单号</div>
          <div class="p2">
            进入"
            <span>订单详情</span>
            "后向下滑动便可以看见订单编号了，然后复制订单号即可。
          </div>
          <div class="p3">
            <img src="img/a21.jpg">
            <img src="img/a22.jpg">
            <img src="img/a23.jpg"></div>
        </td>
      </tr>
    </table>
  </div>
  <!--part-->

  <div class="part">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="25" class="L">
          <div class="co ">6</div>
        </td>
        <td class="R">
          <div class="p1">返回云划算填写订单</div>
          <div class="p2">复制订单号后，返回云划算长按订单号输入框即可粘贴订单号。</div>
          <div class="p3">
            <img src="img/a24.jpg">
            <img src="img/a25.jpg"></div>
        </td>
      </tr>
    </table>
  </div>
  <!--part-->
  </div>
  <!--i_tryDetail2-->
  </div>

  </ion-content>
</ion-view>